<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>修改密码</title>
    <script type="text/javascript">
        var root_dir = "appHtml";
        var curPath = document.location.href;
        var file = curPath.split('/')[curPath.split('/').length - 1];
        var jsFile = file.split('.')[0] + ".js";
        var pos = curPath.indexOf(root_dir);
        basePath = curPath.substr(0, pos);
        document.write("<base href=" + basePath + "/ >");
    </script>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/order.css" />	
    <script src="../static/js/bin/res-bin.js"></script>
    <script src="../static/js/plug/res-plug.js"></script>
    <script src="../static/js/page/index.js"></script>
</head>


<body>
    <div class="index-main" id="wxApp">
        <!-- 头部 开始 -->
        <div class="head">
             <span class="head-goback" @click="handleBack"></span>
            <span>修改密码</span>
            <img class="head-menu" @click="logoutVisible = true" src="../static/img/menu2.png" alt="">
        </div>
        <!-- 头部 结束 -->

        <!-- 内容 开始 -->

        <div class="passcontent">
			<input type="text" class="form-input"  placeholder="请输入您的手机号" v-model="form.tel">
			<input type="text" class="form-input" placeholder="请输入验证码" v-model="form.verificationCode">
			<div class="set-btn" >获取验证码</div>
			<input type="text" class="form-input" placeholder="请输入旧密码" v-model="form.oldPwd">
			<input type="text" class="form-input" placeholder="请输入新密码"  v-model="form.newPwd">
			<input type="text" class="form-input" placeholder="确认您的密码" v-model="form.repeat">
			<div class="pass-btn" @click="handleSubmit" >确认修改</div>
           
        </div>

        <div class="popup-wrap" v-if="logoutVisible">
            <div class="popup-main">
                <div class="popup-header">
                    <p class="popup-title">提示</p>
                </div>
                <p>是否退出当期登录账号？</p>
                <div class="btn-group">
                    <button class="btn btn-confirm" @click="handleLogout">确定</button>
                    <button class="btn btn-cancel" @click="logoutVisible = false">取消</button>
                </div>
            </div>
        </div>       
        <!-- 内容 结束 -->

    </div>
	
	<!--弹窗-->
	
	
	
	
	
	
	
	
	
    <script>
        var wxApp = new Vue({
            el: '#wxApp',
            data: {
				form: {
                    tel: '',
                    verificationCode: '',
                    oldPwd: '',
                    newPwd: '',
                    repeat: ''
                },
                // 退出登录
                logoutVisible: false,
            },
            methods: {
                // 后退
                handleBack: function () {
                    AppUtil.Back();
                },
                handleToNav: function (nav) {
                    AppUtil.GoUrl("appHtml/" + nav + ".html");
                },
                handleLogout: function () {
                    AppUtil.GoUrl("appHtml/login.html");
                },
				  handleGetVerificationCode: function () {
                    var regNull = /\S/;
                    if (!regNull.test(this.form.tel)) {
                        showToast("手机号为空", 2000, 'center'); //提示错误信息
                        return;
                    }
                    showToast("验证码已发送至您的手机", 2000, 'center');
                },
                 handleSubmit: function () {
                    var regNull = /\S/;
                    if (!regNull.test(this.form.tel)) {
                        showToast("手机号为空", 2000, 'center'); //提示错误信息
                        return;
                    }
                    if (!regNull.test(this.form.verificationCode)) {
                        showToast("验证码为空", 2000, 'center'); //提示错误信息
                        return;
                    }
                    if (!regNull.test(this.form.oldPwd)) {
                        showToast("旧密码为空", 2000, 'center'); //提示错误信息
                        return;
                    }
                    if (!regNull.test(this.form.newPwd)) {
                        showToast("新密码为空", 2000, 'center'); //提示错误信息
                        return;
                    }
                    if (this.form.repeat !== this.form.newPwd) {
                        showToast("新密码不一致", 2000, 'center'); //提示错误信息
                        return;
                    }
                    this.successVisible = true;
                }
            }
        });
    </script>
</body>

</html>